* {
    margin:0;
    padding:0;
  }
  .top {
    background-color:black;
    color:white;
    height:6.5em;
  }
  .top h1 {
    float:left;
    margin:0.5em 5em 1.5em 1.5em;
    overflow-x: hidden;
  }
  .top p {
    border-left-style:solid;
    border-width:0.5px;
    float:right;
    padding:0 1.5em 0.7em;
    text-align:left;
    width:12em;
  }
  .grey {
    background-color: #fff
    margin-top:0;
    padding-top:0.5em;
    text-align:center;
  }
  .grey p {
    font-style:italic;
    padding:1em;
  }
  .container {
    margin:0.5em 5em;
  }
  .box {
    display:flex;
    padding-bottom:1em;
  }
  .left {
    float:left;
    text-align:left;
    width:40%;
  }
  .right {
    float:right;
    margin-left:2em;
    text-align:left;
    width:60%;
  }
  .spec {
    color:grey;
    font-style:italic;
    margin-bottom:1em;
  }
  .aaa {
    color:grey;
  }
.buttom{
  background-color: rgb(119, 108, 108);
  margin-top: 10em;
  width: 100%;
  padding: 1ems;
  text-align: center;

}
img{
  padding: 10px;
  width: 15em;
  height: 3.5em;
  border-radius: 10em;
  display: inline;
}
a{
  color: rgb(241, 237, 237);
  display: inline;
  text-decoration: none;
  
}

a:hover {
  background-color: rgb(40, 21, 126);
  width: 1em;
}
#links{
  background-color: rgb(119, 108, 108);
  text-align: center;
}
.cent{
  text-align: center;
  margin: 0.5em;
}
.nright{
   text-align: center;
}
@media screen and (max-height: 450px){
  .top{

  }
}